In [1]:
import pandas as pd

df_from_json = pd.read_json("example-1.json")

df_from_json

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [2]:
json_string = df_from_json.to_json();


json_string

'{"Column 1":{"0":1,"1":3,"2":5},"Column 2":{"0":2,"1":4,"2":6}}'